@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

.list-container{
  display: flex;
  flex-direction: column;
  padding: 20rem, 50rem, 20rem, 50rem;
  align-items: center;
}

.list-textbox{
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
}

.change-region, .change-region{
  display:flex;
  flex-direction: column;
  padding:5px;
  gap:10px;
}

.item-list{
  display: flex;
  justify-content: space-between;
  gap:10rem;
}

.change-region-textbox, .change-region-textbox{
  padding:10px;
  font-size:15px;
}

.button-collection{
  display:flex;
  flex-direction: row;
  width: 20rem;
}